<p id="notice"><%= notice %></p>

<p>
  <strong>F name:</strong>
  <%= @person.f_name %>
</p>

<p>
  <strong>L name:</strong>
  <%= @person.l_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @person.status %>
</p>

<p>
  <strong>Country:</strong>
  <%= @person.country %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag(@person.avatar_url) if @person.avatar? %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
